<mat-card>
  <mat-card-title>Actions</mat-card-title>
  <mat-card-content>
    <button mat-button (click)="createEvent()">New</button>
    <button mat-button [disabled]="!areEventsSelected" (click)="editSelectedEvent()">Edit</button>
    <button mat-button [disabled]="!areEventsSelected" (click)="deleteSelectedEventsAsync()">Delete</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Events</mat-card-title>
  <mat-card-content>
    <drm-mat-table (selectionChanged)="rowSelectionChanged($event)" [columnDefinitions]="columnDefinitions" [data]="data"></drm-mat-table>

  </mat-card-content>
</mat-card>

