<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" (openedChange)="sidebarOpenChanged($event)" [attr.role]="navigation"
    mode="side">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <span *ngFor="let nav of appNavigationEntries">
        <a mat-list-item class="nav-link" routerLinkActive="active" [class.disabled]="!nav.isNavigatable" [routerLink]="nav.baseUrl">{{ nav.displayText }}</a>
      </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon [@sidebarArrowAnimation]="isSidebarOpen" aria-label="Side nav toggle icon">arrow_forward</mat-icon>
      </button>
      <span>Registration Management System</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>